<h2 class="heading">Toy Robot Simulator</h2>
<Header/>
<div class="fixed bg-black">
    {{link-to 'Home' 'toy-robot-description'}}
    {{link-to 'Toy Robot on Table' 'toy-robot-table'}}
</div>

{{outlet}}